appdirs
CacheControl
certifi
chardet
colorama
contextlib2
cssselect2
distlib
distro
html5lib
idna
ipaddr
lockfile
lxml
msgpack
packaging
pep517
Pillow
progress
pygame
pyparsing
PySimpleGUI
pytoml
reportlab
requests
retrying
six
svglib
tinycss2
urllib3
webencodings
